<!doctype html>
<html lang="en" xmlns:th="https://www.thymleaf.org">

<head>

</head>

<body>

	<div class="dashboard-wrapper" th:fragment="customer-data">
		<div class="row">
			<!-- ============================================================== -->
			<!-- basic table  -->
			<!-- ============================================================== -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="card">
					<h5 class="card-header">Customer Details</h5>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered first">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>UserId</th>
										<th>Mobile Number</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									Does Customers Found? <span th:text="${customersFound}"></span>
									<div th:unless="${customersFound} or ${isCustomerRegistered}">
										<font color="red" >
											<tr>
												<p><b>No Customers Found</b></p>
											</tr>

										</font>
									</div>
									<div th:if="${customersFound} or ${isCustomerRegistered}">
										<tr th:each="customer:${listOfCustomers}">
										<td><span th:text="${customer.firstName}" /></td>
										<td><span th:text="${customer.lastName}" /></td>
										<td><span th:text="${customer.email}"></td>
										<td><span th:text="${customer.userName}" /></td>
										<td><span th:text="${customer.mobile}"></td>
										<td>

											<div>
												<p>
													<i class="fas fa-edit" aria-hidden="true">
														<a th:href="@{'/editCustomerPage?custId='+${customer.id}}">Edit</a></i> |
													<i class="fa fa-trash" aria-hidden="true">
														<a th:href="@{'/deleteCustomer?custId='+${customer.id}}">Delete</a></i>
												</p>
											</div>
										</td>
									</tr>
									</div>
									
								</tbody>
							</table>
						</div>
						<div class ="btn-group">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
							         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							         NoOfRecordPerPage
							         </button>
							         <div class="dropdown-menu" aria-labelledby="dropdownMenuButtom">
										 <a class="dropdown-item" th:href="@{'/view-customers?pageNum=0&noOfRecPerPage=2'}">2</a>
										  <a class="dropdown-item" th:href="@{'/view-customers?pageNum=0&noOfRecPerPage=10'}">10</a>
										   <a class="dropdown-item" th:href="@{'/view-customers?pageNum=0&noOfRecPerPage=15'}">15</a>
									 </div>
									 
						</div>
									 <div class="d-flex justify-content-center">
										 <nav aria-label="Page navigation example">
											 <ul class="pagination">
											 <li class="page-item"><a class="page-link" href="#">Previous</a></li>
											 <div th:each="page:${#numbers.sequence(1, 3)}">
												 <li class="page-item"><a class="page-link" 
												 th:href="@{'/view-customers?pageNum='+${page}+'&noOfRecPerPage=' + ${noOfRecPerPage}}">
													 <span th:text="${page}"></span>
												 </a></li>
											 </div>
											 <li class="page-item"><a class="page-link" href="#">Next</a></li>
											  </ul>
										 </nav>
										 
									 </div>
										 
						
					</div>
				</div>
			</div>

			<!-- ============================================================== -->
			<!-- end basic table  -->
			<!-- ============================================================== -->
		</div>
	</div>


</body>

</html>